<div data-eeko-el="el-poll" class="poll">
  <div data-eeko-el="el-poll-title" class="poll__title">{title}</div>
  <div data-eeko-el="el-opt-a" class="poll__option">
    <div class="poll__row">
      <span data-eeko-el="el-opt-a-label" class="poll__label"></span>
      <span data-eeko-el="el-opt-a-pct" class="poll__pct"></span>
    </div>
    <div class="poll__track"><div data-eeko-el="el-opt-a-bar" class="poll__bar"></div></div>
  </div>
  <div data-eeko-el="el-opt-b" class="poll__option">
    <div class="poll__row">
      <span data-eeko-el="el-opt-b-label" class="poll__label"></span>
      <span data-eeko-el="el-opt-b-pct" class="poll__pct"></span>
    </div>
    <div class="poll__track"><div data-eeko-el="el-opt-b-bar" class="poll__bar"></div></div>
  </div>
  <div data-eeko-el="el-opt-c" class="poll__option" style="visibility:hidden">
    <div class="poll__row">
      <span data-eeko-el="el-opt-c-label" class="poll__label"></span>
      <span data-eeko-el="el-opt-c-pct" class="poll__pct"></span>
    </div>
    <div class="poll__track"><div data-eeko-el="el-opt-c-bar" class="poll__bar"></div></div>
  </div>
  <div data-eeko-el="el-opt-d" class="poll__option" style="visibility:hidden">
    <div class="poll__row">
      <span data-eeko-el="el-opt-d-label" class="poll__label"></span>
      <span data-eeko-el="el-opt-d-pct" class="poll__pct"></span>
    </div>
    <div class="poll__track"><div data-eeko-el="el-opt-d-bar" class="poll__bar"></div></div>
  </div>
</div>
